<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel ⚙️</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container bg-light">
    <h1 class="text-center">Admin panel ⚙️</h1>
    <hr/>
    <div class="item">
        <div class="row">
            <p class="col fw-bold">Website domain</p>
            <p class="col fw-bold">Confirmed?</p>
            <p class="col fw-bold">Date of report</p>
            <p class="col fw-bold">Statistics</p>
            <p class="col fw-bold">Report button</p>
        </div>
    </div>
    <div th:each="accident: ${accidents}">
        <div class="item">
            <div class="row">
                <p class="col" th:text="${accident.url}"></p>
                <p class="col" th:text="${accident.confirmed}"></p>
                <p class="col" th:text="${#temporals.format(accident.sentDate, 'dd.MM.yyyy HH:mm:ss')}"></p>
                <a class="col" th:href="@{/admin/stats/{id}(id=${accident.id})}" th:text="'Stats of id=' + ${accident.id}"></a>
                <div class="col dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Report website
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/admin/submit/google/{id}(id=${accident.id})}">Google</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/submit/cloudflare/{id}(id=${accident.id})}">Cloudflare</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/submit/nukib/{id}(id=${accident.id})}">NUKIB</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>